<%= form_with model: contact do |form| %>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
    <% contact.errors.full_messages_for(:first_name).each do |message| %>
      <div style="color:red;"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
    <% contact.errors.full_messages_for(:last_name).each do |message| %>
      <div style="color:red;"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state_or_province %><br>
    <%= form.text_field :state_or_province %>
  </div>

  <div>
    <%= form.label :postal_code %><br>
    <%= form.text_field :postal_code %>
  </div>

  <div>
    <%= form.label :home_phone %><br>
    <%= form.telephone_field :home_phone %>
  </div>

  <div>
    <%= form.label :mobile_phone %><br>
    <%= form.telephone_field :mobile_phone %>
  </div>

  <div>
    <%= form.label :notes %><br>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.label :paid_in_full %><br>
    <%= form.text_field :paid_in_full %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </div>

  <p></p>

  <div>
    <%= form.submit %>
  </div>
<% end %>
