<%
  require 'date'
  def price_formatter(price)
    "$" + price.to_s.reverse.scan(/.{1,3}/).join(',').reverse
  end
  @deposits = @payments.map(&:advanced_amount).sum
  @withdrawls = @payments.map(&:amount_deducted).sum
  @balance = @deposits - @withdrawls
%>

<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
<%= link_to '<-- Go back', contacts_path %>
<ul>
  <li>Address: <%= @contact.address %> <%= @contact.city %> <%= @contact.state_or_province %> <%= @contact.postal_code %></li>
  <li>Home: <%= @contact.home_phone %></li>
  <li>Mobile: <%= @contact.mobile_phone %></li>
  <li>Notes: <%= @contact.notes %></li>
  <li>Paid In Full: <%= @contact.paid_in_full %></li>
  <li>Email: <%= @contact.email %></li>
</ul>
<h2>Balance</h2>
<p><%= price_formatter(@balance)%></p>

<h2>Payments</h2>
<% @payments.each do |payment| %>
  <ul>
    <li>ID: <%= payment.id %></li>
    <li>Date: <%= payment.payment_date&.strftime("%B %d, %Y, %A") %></li>
    <li>Advanced Amount: <%= price_formatter(payment.advanced_amount) %></li>
    <li>Deducted From BL: <%= payment.deducted_from_bl %></li>
    <li>Amount Deducted: <%= price_formatter(payment.amount_deducted) %></li>
    <li>Total Rebate: <%= price_formatter(payment.total_rebate) %></li>
  </ul>
<% end %>