<%
  require 'date'
  @deposits = @payments.map(&:advanced_amount).sum
  @withdrawls = @payments.map(&:amount_deducted).sum
  @balance = @deposits - @withdrawls
%>

<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
<%= link_to '<-- Go back', contacts_path %>
<ul>
  <li>Address: <%= @contact.address %> <%= @contact.city %> <%= @contact.state_or_province %> <%= @contact.postal_code %></li>
  <li>Home: <%= @contact.home_phone %></li>
  <li>Mobile: <%= @contact.mobile_phone %></li>
  <li>Notes: <%= @contact.notes %></li>
  <li>Paid In Full: <%= @contact.paid_in_full %></li>
  <li>Email: <%= @contact.email %></li>
  <li><%= link_to 'Edit', edit_contact_path(@contact) %></li>
  <% if @payments.empty? %>
    <li>
      <%= button_to 'Delete',
                    @contact,
                    method: :delete,
                    class: :destroy_contact,
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure you want to delete this contact?"
                    } %>
    </li>
  <% end %>
</ul>

<h2>Balance</h2>
<p><%= number_to_currency(@balance)%></p>

<h2>Payments</h2>
<%= link_to 'Create new', new_contact_payment_path(@contact) %>
<% @payments.each do |payment| %>
  <ul>
    <li>ID: <%= payment.id %></li>
    <li>Date: <%= payment.payment_date&.strftime("%B %d, %Y, %A") %></li>
    <li>Advanced Amount: <%= number_to_currency(payment.advanced_amount) %></li>
    <li>Deducted From BL: <%= payment.deducted_from_bl %></li>
    <li>Amount Deducted: <%= number_to_currency(payment.amount_deducted) %></li>
    <li>Total Rebate: <%= number_to_currency(payment.total_rebate) %></li>
    <li><%= link_to 'Edit', edit_contact_payment_path(payment.contact, payment) %></li>
    <li>
      <%= button_to 'Delete',
                    [payment.contact, payment],
                    method: :delete,
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure you want to delete this payment?"
                    } %>
    </li>
  </ul>
<% end %>
<p>Delete all payments to enable deleting contact.</p>