<%= form_with model: [payment.contact, payment] do |form| %>
  <p>ID: <%= payment.id %></p>
  <div>
    <%= form.label :advanced_amount %><br>
    <%= form.number_field :advanced_amount, step: 0.01 %>
    <% payment.errors.full_messages_for(:advanced_amount).each do |message| %>
      <div style="color:red;"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :payment_date %><br>
    <%= form.date_field :payment_date %>
    <% payment.errors.full_messages_for(:payment_date).each do |message| %>
      <div style="color:red;"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :deducted_from_bl %><br>
    <%= form.text_area :deducted_from_bl %>
  </div>
  <div>
    <%= form.label :amount_deducted %><br>
    <%= form.number_field :amount_deducted, step: 0.01 %>
    <% payment.errors.full_messages_for(:amount_deducted).each do |message| %>
      <div style="color:red;"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :total_rebate %><br>
    <%= form.number_field :total_rebate, step: 0.01 %>
  </div>

  <p></p>

  <div>
    <%= form.submit %>
  </div>
<% end %>
